body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-card {
    display: flex;
    align-items: center;
    flex-direction: row !important;
    justify-content: center;
    border: 1px solid black;
}
.stack{
    display: flex !important;
    flex-direction: column !important;
    margin-top: 10px;

}
.questionsContainer{
    display: flex !important;
    flex-direction: row !important;
}
.themelist{ 
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
}
.container-card{
    margin-left: 20px;

    padding: 5px;
}

.cardItem:hover {
    cursor: pointer;
    color: red;
}

.MuiPaper-root {
    margin-top: 10px;
}

.MuiPaper-root:hover {
    background-color: gray;
}