.modal-content {
    position: absolute;
    top: 50px;
    left: 120px;
    width: 700px;
    z-index: 3;
    border: 2px groove;
    /* margin-left: auto; */
    /* margin-right: auto; */
    background-color: white;
    align-items: center;
}

.modal-content>* {
    margin-left: auto;
    margin-right: auto;
}

.modal {
    overflow: hidden;
     top: 0px;
    width: 150%;
    height: 120%;
    position: static;
    margin-left: 65px;
    margin-right: auto;
    background: rgb(57 53 53 / 71%); 
    display: flex;
     justify-content: center;
     margin-bottom: 15%;
}

