.modal-content {
    position: absolute;
    top: 100px;
    width: 700px;
    z-index: 3;
    border: 2px groove;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    align-items: center;
}

.modal-content>* {
    margin-left: auto;
    margin-right: auto;
}

.modal {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 120%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    background: rgb(57 53 53 / 71%)
}

